body {
  background-color: #282a36;
  color: #f8f8f2;
  text-align: center;
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 64px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: #bd93f9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ff79c6;
}

p {
  line-height: 1.5;
}

button {
  background-color: #50fa7b;
  color: #282a36;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #bd93f9;
}
